#principal{
    background-image: url(../imgs/bici.jpg);
    
}

#cuerpo{
    background-color: white;
}

input[type=text], input[type=tel], input[type=email], #dia, #mes, #año{
    border-radius: 0px 15px;
}

fieldset{
    border-radius: 25px;
}

#botones{
    text-align: center;
}

#hombre, #mujer, #otros{
    height: 40px;
    border-radius: 15px;
    width: 90px;
}