* {
    box-sizing: border-box;
}
.carousel-inner{
    height: 200px;
}

.pdesc{
    text-align: center;
}

.tdesc{
    text-align: center;
    color: red;
}


body{
    background-image: url(/imgs/); 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 75%; 
    background-repeat: no-repeat;
}